  <tr>
    <td>
      <h4><%= line_item.product.name %></h4>
      <br>
      <%= line_item.product.image %>
    </td>

    <td>
      <%= line_item.product.description %>
    </td>

    <td>
      <%= line_item.quantity %>
    </td>

    <td>
      <%= line_item.item_price_cents %>
    </td>
  </tr>
