<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">

    <h4>Thank you for your order!</h4>
    <h6>An email has been sent to you on: <%= @order.email %></h6>

    <table>
          <thead>
            <tr>
              <th>Item</th>
              <th>Description</th>
              <th>Quantity</th>
              <th>Price</th>
            </tr>
          </thead>

          <tbody>
            <% @order.line_items.each do |line_item| %>
              <%= render 'lineItems', line_item: line_item %>
            <% end %>
          </tbody>

          <tfoot>
            <tr>
              <th>TOTAL:</th>
              <th> <%= @order.total_cents %> </th>
            </tr>
          </tfoot>
    </table>

  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
